@model PortfolioUnleashed.Models.ViewModels.VMAll

@{
    ViewBag.Title = "All Notifications";
    int index = 0;
}

@section PageHeader
{
    Notifications
}

<div id="notificationsTable" class="container-fluid">
    @if (Model != null && Model.User.Notifications != null && Model.User.Notifications.Count > 0)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">All Notifications</div>
            <table class="table">
                <tr class="tableHeaders">
                    <th><a class="btn btn-primary" href="@Url.Action("All", "Notification", new { orderBy = "Title", isDescending = !Model.IsDescending})">Title @if(Model.OrderBy=="Title" && !Model.IsDescending){<span class="caret"></span>}else if(Model.OrderBy=="Title" && Model.IsDescending){<span class="dropup"><span class="caret"></span></span>}</a></th>
                    <th><a class="btn btn-primary" href="@Url.Action("All", "Notification", new { orderBy = "Description", isDescending = !Model.IsDescending})">Message @if(Model.OrderBy=="Description" && !Model.IsDescending){<span class="caret"></span>}else if(Model.OrderBy=="Description" && Model.IsDescending){<span class="dropup"><span class="caret"></span></span>}</a></th>
                    <th><a class="btn btn-primary" href="@Url.Action("All", "Notification", new { orderBy = "TimeStamp", isDescending = !Model.IsDescending})">Sent At @if(Model.OrderBy=="TimeStamp" && !Model.IsDescending){<span class="caret"></span>}else if(Model.OrderBy=="TimeStamp" && Model.IsDescending){<span class="dropup"><span class="caret"></span></span>}</a></th>
                    <th><a class="btn btn-primary" href="@Url.Action("All", "Notification", new { orderBy = "Sender", isDescending = !Model.IsDescending})">Sender @if(Model.OrderBy=="Sender" && !Model.IsDescending){<span class="caret"></span>}else if(Model.OrderBy=="Sender" && Model.IsDescending){<span class="dropup"><span class="caret"></span></span>}</a></th>
                    <th>Additional Information</th>
                    <th>Delete</th>

                </tr>

                @foreach (PortfolioUnleashed.Models.ViewModels.VMNotification n in Model.User.Notifications)
                {
                    if (index % 2 == 0)
                    {
                        <tr class="evenRowTableDetails">
                            <td>@n.Title</td>
                            <td>@n.Description</td>
                                                    @if (DateTime.UtcNow.Day - n.TimeStamp.Day == 0)
                        {
                            if (DateTime.UtcNow.Hour - n.TimeStamp.Hour == 0)
                            {
                                if (DateTime.UtcNow.Minute - n.TimeStamp.Minute == 0)
                                {
                                    <td>Just now</td>
                                }
                                else
                                {
                                    int minutes = DateTime.UtcNow.Minute - n.TimeStamp.Minute;
                                    <td> @minutes minute@((minutes == 1) ? "":"s") ago </td>
                                }
                            }
                            else
                            {
                            
                                int hours = DateTime.UtcNow.Hour - n.TimeStamp.Hour;
                                <td> @hours hour@((hours == 1) ? "":"s") ago </td>
                            }
                        }
                        else
                        {
                            int days = DateTime.UtcNow.Day - n.TimeStamp.Day;
                            
                            <td>@days day@((days == 1) ? "":"s") ago </td>
                        }
                      
                            <td>@n.Sender</td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(n.URL))
                                {
                                    <a class="btn btn-info" href="@Url.Content(@n.URL)">Relevant Link</a>	
                                }
                            </td>
                            <td><a class="btn btn-danger" href="@Url.Action("DeleteNotification", "Notification", new { id = n.Id })">Delete</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr class="oddRowTableDetails">
                            <td>@n.Title</td>
                            <td>@n.Description</td>
                                                    @if (DateTime.UtcNow.Day - n.TimeStamp.Day == 0)
                        {
                            if (DateTime.UtcNow.Hour - n.TimeStamp.Hour == 0)
                            {
                                if (DateTime.UtcNow.Minute - n.TimeStamp.Minute == 0)
                                {
                                    <td>Just now</td>
                                }
                                else
                                {
                                    int minutes = DateTime.UtcNow.Minute - n.TimeStamp.Minute;
                                    <td> @minutes minute@((minutes == 1) ? "":"s") ago </td>
                                }
                            }
                            else
                            {
                            
                                int hours = DateTime.UtcNow.Hour - n.TimeStamp.Hour;
                                <td> @hours hour@((hours == 1) ? "":"s") ago </td>
                            }
                        }
                        else
                        {
                            int days = DateTime.UtcNow.Day - n.TimeStamp.Day;
                            
                            <td>@days day@((days == 1) ? "":"s") ago </td>
                        }
                      
                            <td>@n.Sender</td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(n.URL))
                                {
                                    <a class="btn btn-info" href="@Url.Content(@n.URL)">Relevant Link</a>	
                                }
                            </td>
                            <td><a class="btn btn-danger" href="@Url.Action("DeleteNotification", "Notification", new { id = n.Id })">Delete</a></td>
                        </tr>
                    }
                    index++;
                }
            </table>
        </div>

        <div class="submitButton">
            <a class="btn btn-danger" href="@Url.Action("DeleteAllUserNotifications", "Notification", new { userId = WebSecurity.CurrentUserId })">Delete All Notifications</a>
        </div>
    }
    else
    {
        <h2>You don't seem to have any notifications. :(</h2>
    }
</div>
