@model PortfolioUnleashed.Models.ViewModels.VMPasswordReset

@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/_MainLayout2.cshtml";
}

<link href="~/Style/UserViewsStyle.css" type="text/css" rel="stylesheet" />

@section PageHeader
{
    Change Password
}

<div class="container">

    <div id="PasswordReset">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <fieldset>
                <legend>Reset Your password</legend>
                <div class="form-group passwordGroup">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })<br />
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })<br />
                    @Html.HiddenFor(m => m.ReturnToken)
                    <div class="submitButton">
                        <input class="btn btn-primary" type="submit" value="Reset" />
                    </div>
                </div>
            </fieldset>
            <h2>@ViewBag.Message</h2>
        }
    </div>
</div>
