@using PortfolioUnleashed.Models.ViewModels;
@using PortfolioUnleashed.Enums;
@model VMContributionMedium

@{
	int id = Model.Id;
	Layout = null;
}


	<div class="form-group">
		@Html.Hidden("ContributionMedia.Id", id)
		@Html.LabelFor(m => m.Link)
		@Html.TextBoxFor(m => m.Link, new { Name = "ContributionMedia.Link", @class="form-control", placeholder="A Direct Link to the Media",maxlength=200 })
		@Html.ValidationMessageFor(m => m.Link)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.MediaType)
		@Html.DropDownListFor(m => m.MediaType, new SelectList(
			new List<Object>{
				new { value= MediaType.Image, text = MediaType.Image.ToString() },
				new { value= MediaType.Video, text = MediaType.Video.ToString() },
				new { value= MediaType.YouTubeVideo, text = "Youtube Video" },
				new { value= MediaType.Sound, text = MediaType.Sound.ToString() },
				new { value= MediaType.Download, text = "Download Link" },
				},
				"value",
				"text",
				MediaType.Image), new { Name = "ContributionMedia.MediaType", @class="form-control" })
		@Html.ValidationMessageFor(m => m.MediaType)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Caption)
		@Html.TextBoxFor(m => m.Caption, new { Name = "ContributionMedia.Caption", @class="form-control", placeholder="A brief caption", maxlength=200 })
		@Html.ValidationMessageFor(m => m.Caption)
	</div>
